

.news-item-wrapper{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 100%;
}

.news-item{
    background-color: red;
    border: 1px solid black;
    display: flex;
    flex: 1;
    height: 100px;
    min-width: 200px;
    padding: 1rem;

}