.news-page-wrapper{
    border: 1px solid;
    width: 90%;
    margin: 0 auto;

}

    .news-page-header-image{
        height: 300px;
    }

    .news-page-article{
        /* background-color: red; */
    }

    section h1,
    section h2,
    section h3{
        text-align: center;
    }

    .article-title{
        
    }

    .article-author{

    }

    .article-text{
        padding: 5px;
        line-height: 1.5rem;
        /* max-width: 600px; */
        max-width: 35rem;
        margin: 0 auto;
        white-space: pre-wrap;
    }

    .article-likes{
        padding: 5px;
    }

    .article-dislikes{
        padding: 5px;
    }
